<div *ngFor="let car of cars ; let i = index" class="card">
  <div class="card-header" *ngIf="car.licensePlate" (click)="toggleMinimize(car.licensePlate)">
    {{ car.licensePlate  }}
<!--    <span class="minimize-icon" >-->
<!--      {{ minimizedCars[car.licensePlate] ? '🔽' : '🔼' }}-->
<!--    </span>-->
  </div>
  <div class="card-body" *ngIf="car.licensePlate && !minimizedCars[car.licensePlate]">
    <table class="car-table">
      <thead>
      <tr>
        <th>Χιλιόμετρα</th>
        <th>Λήξη Ασφάλειας</th>
        <th>ΚΤΕΟ</th>
      </tr>
      </thead>
      <tr>
        <td>{{ car.klm }}</td>
        <td>15/06/2025</td>
        <td> 06/2025
      </tr>

    </table>
    <button class="service" (click)="viewCar(car)">Συνεργείο</button>
    <button class="service" (click)="viewCar(car)">Παραδόσεις</button>
    <button class="service" (click)="viewCar(car)">Επιστροφές</button>
  </div>
</div>
